<%- include("header"); -%>

<div class="row">
  <div class="col-12 col-md-7">
    <p class="initial-text"> TASKL is an easy-to-use Task List developed to shape your day and help you achieve larger goals.</p>
    <p class="initial-text"> Make multiple lists to keep focused on what matters at the moment.</p>
    <p class="initial-text">
      <a class="btn btn-lg btn-light" href="/sign-up" role="button">Get Started</a>
      <a class="btn btn-lg btn-outline-light" href="/login" role="button">Log In</a>
    </p>
  </div>
  <div class="col-12 col-md-5">
    <img id="home-img" src="images/checklist.svg" alt="checklist-image">
  </div>
</div>

<%- include("footer"); -%>