<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASKL.</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700;900&family=Old+Standard+TT:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

  </head>
  <body>
    <table>
      <tr>
        <td>
          <a id="brand" href="/">TASKL.</a>
        </td>
        <td id="date">
          <p><%= date %></p>
        </td>
      </tr>
    </table>
