<%- include("header"); -%>

<div id="title" class="new-list-name box">
  <form action="/new-list" method="POST">
    <input type="text" name="listName" placeholder="List name" autocomplete="off" autofocus="yes">
  </form>      
</div>

<%- include("footer"); -%>