<%- include("header"); -%>

<div id="title" class="new-list-name box">
  <form action="" method="POST">
    <input type="text" name="newListName" placeholder="New list name" autocomplete="off" autofocus="yes">
  </form>      
</div>

<%- include("footer"); -%>