html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #102A43 50%, #121212 50%);
  min-height: 1000px;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: transparent;
}
h1 {
  color: #fafafa;
  padding: 10px;
  font-family: 'Old Standard TT', serif;
  font-size: 2rem;
  font-weight: 100;
}
p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
}
.lists {
  max-width: 400px;
  width: 100%;
  background-color: rgba(50,50,50, 0.8);
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  border: 2px solid;
}
#title.new-list-name {
  margin: 50px auto;
}
.box.empty-list {
  margin: 50px auto;
}

/* LISTS STYLE */
#button-add {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #102A43;
  color: #fff;
  font-size: 30px;
  padding: 0 6px;
  margin-right: 6px;
  border-width: 0;
  font-family: 'Montserrat', sans-serif;
}
#title {
  background-color: #102A43;
  text-align: center;
}
.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  background-color: #334E68;
}
.dropdown {
  display: inline-block;
  font-size: 1rem;
}
form.item {
  text-align: center;
  margin-left: 20px;
}
input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #102A43;
}
input[type="checkbox"] {
  margin: 20px;
}
input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 100%;
  color: #B1B1B1;
  font-family: 'Montserrat', sans-serif;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #102A43;
}
.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #323232;
}
.item:last-child {
  border-bottom: 0;
}
::placeholder {
  color: #B1B1B1;
  opacity: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}
::selection{
  color: black;
  background: #627D98;
}

/* HEADER */
#brand {
  font-size: 3rem;
  font-weight: 900;
  text-decoration: none;
  color: aqua;
}
#date {
  text-align: right;
}
table{
  width: 100%;
}
#header-dropdown {
  font-size: 2rem;
  width: 100%;
}
#header-dropdown-link{
  float: right;
  padding: 0 20px;
  text-decoration: none;
  color: #B1B1B1;
}

/* FOOTER */
footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* SIGN PAGE */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color:#121212;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color:#121212;
}
.registered {
  padding: 5% 0;
  font-size: 1rem;
}
.sign-redirect, .sign-redirect:link, .sign-redirect:visited, .sign-redirect:active{
  text-decoration: none;
  font-weight: 400;
  color: grey
}

/* HOME PAGE */
.new-list, .new-list:link, .new-list:visited, .new-list:active {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1.3rem;
}

#menu-create-list {
  font-size: 1rem;
  color: #B1B1B1;
  border-top: 1px solid #323232;
  /* padding-top: 1%; */
}

.no-list-text {
  font-size: 1.5rem;
}

.navbar-toggler-icon {
  font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
  .lists {
    width: 80%;
    margin-left: 0;
    margin-right: 0;
  }
  .box {
    margin: 50px 0;
  }
}